name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        shell: bash
        run: |
          AUTH="${{ secrets.DOCKERHUB_AUTH }}"
          if [ -z "$AUTH" ]; then
            echo "DOCKERHUB_AUTH is empty. Please set it in GitHub Secrets."
            exit 1
          fi

          USER="${AUTH%%:*}"
          PASS="${AUTH#*:}"

          echo "$PASS" | docker login -u "$USER" --password-stdin
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ncupoficecream/library-seat-search:latest
            ncupoficecream/library-seat-search:${{ github.sha }}
