name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_AUTH }}" | docker login \
            -u $(echo "${{ secrets.DOCKERHUB_AUTH }}" | cut -d: -f1) \
            --password-stdin
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ncupoficecream/library-seat-search:latest
            ncupoficecream/library-seat-search:${{ github.sha }}
